
.container{
    display: flex;
    
}

.menu{
	display:flex;	
    width: 20%;
	height: 110vh;
    background-image: url("../img/s.jpg");
    background-size: cover;
    border-right: 7px solid grey;
    /*display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;*/
}
.menu1
{
  
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	width:220px;
	height:925px;
	margin-top: 60px;
	/*border:4px solid Skyblue;*/
	border-radius:25px;
 }
#postit
{
	/*overflow : scroll;*/
	
	display: flex;
	width: 100%;
	height: 110vh;
	background-image: url("../img/b.jpg");
    background-size: cover;	
}

/*
#postit1
{
    height: 300px;
    width: 300px;
    border: 1px solid white;
}

#postit2
{
    height: 300px;
    width: 300px;
    border: 1px solid white;
}

#postit3
{
    height: 300px;
    width: 300px;
    border: 1px solid white;
}
*/

#grid-snap
{
	display:flex;
	/*width: 200px;
	position: absolute;
	overflow:auto;
	height:200px;*/
	/*width: 10%;
	height: 10%;*/
	background-color: #29e;
	color: #fff;
	font-size: 1.2em;
	border-radius: 8px;
	padding: 10px;
	margin: 5px;
	/*touch-action: none;
	-webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);*/
}
#message
{
	display: flex;
	position: fixed;
	margin: 10px 30px 0 10px;
	padding: 10px;
	/*width: 50%;
	/*-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;*/
	border-radius: 8px;
	background-color: #bfffdf;
	-webkit-transform: translate(0px, 0px);
    /*transform: translate(5px, 5px);*/
}
.deplacer 
{
	/*overflow: hidden;*/	
	height: 400px;
}
  
.draggable 
{
	/*resize: both;*/
	overflow: auto;
	width:1500px;
	height:300px;
	/*background-color:#666;
	color:white;*/
	/*margin-bottom: 30px;*/
	padding:10px 12px;
	cursor:move;
	position:relative; /* important (all position that's not `static`) */
}

  
.red
{
	height:200px;
	width:200px;
	background:#ff0202;
	border:3px solid yellow;
	border-radius:25px;
 }
  
.yellow
{
	height:200px;
	width:200px;
	background:rgb(255, 251, 0) ;
	border:3px solid #4ab031 ;
	border-radius:25px;
}
  
.green
{
	height:200px;
	width:200px;
	background:#0afa02 ;
	border:3px solid #fc0404  ;
	border-radius:25px;
}
  
.orange
{
	height:200px;
	width:200px;
	background:rgb(255, 136, 0) ;
	border:3px solid grey ;
	border-radius:25px;
}